*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

.skw-pages {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.skw-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.skw-page__half {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.skw-page__half--left {
    left: 0;
    -webkit-transform: translate3d(-32.4vh, 100%, 0);
    transform: translate3d(-32.4vh, 100%, 0);
}

.skw-page__half--right {
    left: 50%;
    -webkit-transform: translate3d(32.4vh, -100%, 0);
    transform: translate3d(32.4vh, -100%, 0);
}

.skw-page.active .skw-page__half {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.skw-page__skewed {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    -webkit-transform: skewX(-18deg);
    transform: skewX(-18deg);
    background: #fff;
}

.skw-page__half--left .skw-page__skewed {
    left: -40%;
}

.skw-page__half--right .skw-page__skewed {
    right: -40%;
}

.skw-page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 30%;
    color: #333333;
    -webkit-transform: skewX(18deg);
    transform: skewX(18deg);
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s, -webkit-transform 1s;
    background-size: cover;
}

.skw-page__half--left .skw-page__content {
    padding-left: 30%;
    padding-right: 30%;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.skw-page__half--right .skw-page__content {
    padding-left: 30%;
    padding-right: 30%;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.skw-page.inactive .skw-page__content {
    opacity: 0.5;
    -webkit-transform: skewX(18deg) scale(0.95);
    transform: skewX(18deg) scale(0.95);
}

.skw-page__heading {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 2.9rem;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

.skw-page__description {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Timmana', sans-serif;
}

.skw-page-1 .skw-page__half--left .skw-page__content {
    background-image: url("../img/slide01.png");
}

.skw-page-1 .skw-page__half--right .skw-page__content {
    background: #ffffff;
}

.skw-page-2 .skw-page__half--left .skw-page__content {
    background: #ffffff;
}

.skw-page-2 .skw-page__half--right .skw-page__content {
    background-image: url("../img/slide02.png");
}

.skw-page-3 .skw-page__half--left .skw-page__content {
    background-image: url("../img/slide03.png");
}

.skw-page-3 .skw-page__half--right .skw-page__content {
    background: #ffffff;
}

.skw-page-4 .skw-page__half--left .skw-page__content {
    background: #ffffff;
}

.skw-page-4 .skw-page__half--right .skw-page__content {
    background-image: url("../img/slide04.png");
}

.skw-page-5 .skw-page__half--left .skw-page__content {
    background-image: url("../img/slide05.png");
}

.skw-page-5 .skw-page__half--right .skw-page__content {
    background: #ffffff;
}

.skw-page-6 .skw-page__half--left .skw-page__content {
    background: #ffffff;
}

.skw-page-6 .skw-page__half--right .skw-page__content {
    background-image: url("../img/slide06.png");
}

.container a {
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
    color: #333333;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    color: #FFF100;
}

.left-icon {
    position: absolute;
    top: 87%;
    left: 20%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(0%) translateX(0%);
}

.right-icon {
    position: absolute;
    top: 87%;
    left: 80%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(0%) translateX(-100%);
}

#graphic {
    background-image: url(../img/graphic.png);
    background-size: cover;
    height: 100vh;
}

#web {
    background-image: url(../img/web.png);
    background-size: cover;
    height: 100vh;
}

#uiux {
    background-image: url(../img//uiux.png);
    background-size: cover;
    height: 100vh;
}

#illustration{
    background-image: url(../img/illustration.png);
    background-size: cover;
    height: 100vh;
}

#theothers{
    background-image: url(../img/theothers.png);
    background-size: cover;
    height: 100vh;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(50%) translateX(50%);
    transform: translateY(-50%) translateX(-50%);
}

h1 {
    font-size: 5rem;
    color: #fff;
}

.contents {
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
}

.contents img {
    width: 100%;
}

.left-box {
    width: 50%;
    float: left;
}

.right-box {
    width: 50%;
    float: left;
}

.text {
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translateY(50%) translateX(50%);
    transform: translateY(-50%) translateX(-50%);
}

.text h2,
h3,
p {
    color: #333333;
}

.text h2 {
    font-size: 2rem;
}

h2 span{
    font-size: 0.8rem;
}

.text h3 {
    font-size: 1.2rem;
}

.text p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.link{
    width: 205px;
    margin-top: 20px;
    margin: 0 auto;
}

.link a{
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #FFF100;
    background-color: #FFF100;
    color: #333333;
    padding: 10px 45px;
    
}

.link a:hover{
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #333333;
    background-color: #333333;
    color: #FFF100;
    padding: 10px 45px;
    transition: 0.8s;
}

.btn a {
    font-size: 1.2rem;
    padding: 10px 10px;
    background-color: #333333;
    width: 100%;
    color: #FFF;
    text-align: center;
    display: block;
    text-decoration: none;
}

.btn a:hover {
    color: #FFF100;
    transition: all 0.8s;
    font-weight: 500;
}

.slide{
    width: 718px;
}

.simply-scroll-container {
    position: relative;
}
.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}
.simply-scroll-list {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.simply-scroll-list li {
    float: left; /* Horizontal scroll only */
    padding: 0;
    margin: 0;
    width: 350px;
    height: 250px;
}
.simply-scroll-list li img {
    display: block;
}
